body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 20px;
  width: 350px;
}

h2 {
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin-top: 20px; /* Adicionando um espaço acima do formulário */
}

label {
  margin-bottom: 10px; /* Reduzindo o espaçamento entre rótulos */
  color: #555;
}

input {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
}

button {
  background-color: #f87509;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px; /* Adicionando um espaço acima do botão */
}

button:hover {
  background-color: #a5a312;
}

.loginEdit {
  color: #f87509;
  font-size: 20px;
}

.cadastroEdit {
  color: #f87509;
  text-decoration: none;
}

.ImagemLogo {
  width: 200px;
  height: 100px;
}
